@import '../../../styles/partials/all';

.ticket-step {
  background-color: var(--layout-body-background);
  padding: 5rem;
  @include isLandscapetablet() {
    padding: 3rem;
  }
  @include isMobile() {
    padding-right: calculateRem(14px);
    padding-left: calculateRem(14px);
    padding-top: calculateRem(21px);
  }

  &__ticket-details {
    &-title {
      .ant-typography {
        color: var(--label-color);
        font-weight: 500;
        letter-spacing: 0.79px;
        @include fontSize(44px);
        @include isMobile() {
          @include fontSize(28px);
          letter-spacing: 0.5px;
        }
      }
    }
  }
}
