@import '../../styles/partials/all';

.button {
  font-family: var(--primary-font-family);
  border-radius: calculateRem(12px);
  border-width: calculateRem(4px);
  @include fontSize(22px);
  padding: 0;

  @include isTablet() {
    @include fontSize(16px);
    letter-spacing: 0.19px;
  }

  &-primary {
    @include flexCenter();
    letter-spacing: 0.26px;
    font-weight: 500;
  }

  &-default {
    @include flexCenter();
    background-color: transparent;
    letter-spacing: 0.26px;
    font-weight: 450;

    &:hover {
      background-color: transparent;
      border-color: var(--btn-default-color);
    }
  }

  &-book {
    @include flexCenter();
    background-color: var(--btn-default-color);
    color: var(--btn-secondary-color);
    letter-spacing: 0.26px;
    font-weight: 450;

    &__icon {
      height: calculateRem(21px);
      width: calculateRem(21px);
      margin-right: calculateRem(18px);

      @include isTablet() {
        height: calculateRem(16px);
        width: calculateRem(16px);
        margin-right: calculateRem(8px);
        margin-bottom: 2px;
      }
    }

    &:hover {
      color: var(--btn-secondary-color);
      background-color: #936cad;
      border-color: #936cad;
    }
  }

  &-link {
    letter-spacing: 0.26px;
    padding-right: 0;
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;

    &-arrow {
      height: calculateRem(16px);
      width: calculateRem(10px);
      margin-left: calculateRem(16px);

      @include isTablet() {
        height: calculateRem(10px);
        width: calculateRem(6px);
        margin-left: calculateRem(13px);
      }
    }
  }

  &-transparent {
    color: var(--btn-default-color);
    background: transparent;

    &:hover {
      color: var(--btn-default-color);
      background-color: transparent;
      border-color: var(--btn-default-color);
    }
  }

  &--isDisabled{
    opacity: 0.5;
  }
}
