@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

//takes in something like 14px as a parameter and sets the font size in rem
@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}
