:export {
  body-background: $body-background;
  body-background-secondary: $body-background-secondary;
  primary-color: $primary-color;
  secondary-color: $secondary-color;
  secondary-text-color: $secondary-text-color;
  label-color: $label-color;
  border-color-base: $border-color-base;
  primary-font-family: $primary-font-family;
  secondary-font-family: $secondary-font-family;
  inactive-color: $inactive-color;

  border-raduis-base: $border-raduis-base;
  input-border-radius-base: $input-border-radius-base;

  downlooad-border-color: $downlooad-border-color;

  border-width-base: $border-width-base;

  cross-icon-color: $cross-icon-color;
  error-messages: $error-messages;

  layout-header-background: $layout-header-background;
  layout-body-background: $layout-body-background;
  layout-header-color: $layout-header-color;
  layout-footer-background: $layout-footer-background;

  btn-default-color: $btn-default-color;
  btn-default-ghost-color: $btn-default-ghost-color;
  btn-default-ghost-border: $btn-default-ghost-border;
  btn-default-border: $btn-default-border;
  btn-secondary-color: $btn-secondary-color;
  btn-link-color: $secondary-color;
  btn-border-raduis: $btn-border-raduis;
  btn-link-font-weight: $btn-link-font-weigth;
  btn-border-width: $btn-border-width;

  input-bg: $input-bg;
  input-border-color: $input-border-color;
  input-text-color: $input-text-color;
  input-border-width: $input-border-width;

  shadow-color: $shadow-color;
  shadow-color-hover: $shadow-color-hover;
  bar-shadow-color: $bar-shadow-color;

  pagination-item-bg-active: $pagination-item-bg-active;
  pagination-border-color: $pagination-border-color;
  pagination-text-color: $pagination-text-color;
  pagination-text-color-active: $pagination-text-color-active;
  pagination-ellipsis-color: $pagination-ellipsis-color;
  pagination-arrow-color: $pagination-arrow-color;
  pagination-step-arrow-color: $pagination-step-arrow-color;
  pagination-border-radius: $pagination-border-radius;
  pagination-border-width: $pagination-border-width;

  dropdown-text-color: $dropdown-text-color;
  dropdown-border-color: $dropdown-border-color;
  dropdown-arrow-color: $dropdown-arrow-color;
  dropdown-arrow-dark-color: $dropdown-arrow-dark-color;
  dropdown-arrow-secondary-color: $dropdown-arrow-secondary-color;
  dropdown-secondary-color: $dropdown-secondary-color;
  dropdown-border-radius: $dropdown-border-radius;

  breadcrumb-last-item-color: $breadcrumb-last-item-color;
  breadcrumb-separator-color: $breadcrumb-separator-color;
  breadcrumb-text-color: $breadcrumb-text-color;

  event-btn-bg-color: $event-btn-bg-color;

  steps-bg-color: $steps-bg-color;
  steps-text-color: $steps-text-color;
  steps-secondary-text-color: $steps-secondary-text-color;
  overlay-bg-color: $overlay-bg-color;

  card-actions-background: $card-actions-background;
  card-title-text-color: $secondary-color;
  card-large-title-text-color: $card-large-title-text-color;
  card-paragraph-color: $secondary-color;
  card-tag-background-color: $card-tag-background-color;
  card-tag-text-color: $card-tag-text-color;
  card-location-text-color: $card-location-text-color;
  card-secondary-bg-color: $card-secondary-bg-color;
  card-border-color: $card-border-color;
  card-shadow-color: $card-shadow-color;
  card-border-radius: $card-border-radius;
  card-border-width: $card-border-width;

  price-text-color: $primary-color;

  menu-item-active-bg: $menu-item-active-bg;
  menu-highlight-color: $menu-highlight-color;
  menu-bg-color: $menu-bg-color;

  checkbox-border-hover-color: $checkbox-border-hover-color;
  checkbox-color: $checkbox-color;
  checkbox-check-color: $checkbox-check-color;
  checkbox-check-bg: $checkbox-check-bg;
  checkbox-border-radius: $checkbox-border-radius;
  checkbox-border-width: $checkbox-border-width;

  radio-button-bg: $radio-button-bg;
  radio-button-checked-bg: $radio-button-checked-bg;

  picker-primary-color: $picker-primary-color;
  picker-bg-color: $picker-bg-color;
  picker-text-color: $picker-text-color;
  picker-secondary-text-color: $picker-secondary-text-color;
  picker-border-color: $picker-border-color;
  picker-transparent-bg-color: $picker-transparent-bg-color;
  picker-separator-color: $picker-separator-color;

  form-text-secondary-color: $form-text-secondary-color;
  form-text-color: $form-text-color;

  footer-title-color: $footer-title-color;
  footer-text-color: $footer-text-color;
  footer-btn-link-color: $footer-btn-link-color;
  footer-border-color: $footer-border-color;
  footer-select-bg-color: $footer-select-bg-color;

  section-bg-color: $section-bg-color;

  collapse-bg-color: $collapse-bg-color;
  collapse-arrow-color: $collapse-arrow-color;

  home-title-color: $home-title-color;
  separate-line-color: $separate-line-color;

  secondary-icon-color: $secondary-icon-color;

  card-border-radius: $card-border-radius;
}
